* {
	padding: 0;
	margin: 0;
}

body {
	background-color: black;
}

#container {
	height: 668px;
	width: 1364px;
}

header img {
	height: 190px;
}

nav{
	float: right;
	margin: 100px 150px 0 0;
}

nav a {
	font-size: 25px;
	padding: 40px;

}

a {
	color: red;
	margin: 10px;
	text-decoration: none;
}

a:hover {
	color: white;
	border-bottom: 1px solid red
}

h1 {
	color: red;
	margin-left: 100px;
	margin-top: 10px;
	font-size: 35px;
}

h2 {
	color: white;
	margin-left: 50px;
}

p {
	color: white;
	font-size: 25px;
	margin-left: 40px;
	margin-top: 10px;
}

article {
	margin-top: 50px;
	width: 500px;
}

aside {
	float: right;
	height: 430px;
	width: 800px;
	padding: 10px;
}

legend {
	font-size: 20px;
	color: red;
	margin-bottom: 10px;
} 	

form{
	float: right;
}

input{
	width: 170px;
	margin:5px;
}

fieldset {
	border: none;
	color: white;

}

aside img{
	width: 250px;
	margin-top: 30px;
}

footer {
	color: gray;
	margin-top: 105px;
	text-align: center;
}